RUNNER_NAME={{ inventory_hostname }}-runner
REPO_URL=https://github.com/leonid-lesaychuk/PetProject
ACCESS_TOKEN={{ github_access_token }}
RUNNER_CLEANUP_SIGTERM=true
RUNNER_REPLACE_EXISTING=true
LABELS={% if 'app' in group_names %}app{% else %}infra{% endif %},self-hosted
RUNNER_LABELS={% if 'app' in group_names %}app{% else %}infra{% endif %},self-hosted